@{
    ViewData["Title"] = "Home Page";
}

@model CrudProject.Models.Product


<link href="~/css/ProductShow.css" rel="stylesheet" asp-append-version="true" />

<div class="container" style=" margin-top: 5rem;">
            <div class="col-md-4 mb-4">
                <div class="card product-card">
                    <!-- Display product image -->
                    <img src="~/images/@Model.ImageFileName" class="card-img-top" alt="Product Image" />

                    <!-- Card Body -->
                    <div class="card-body">
                        <!-- Product Title -->
                        <h5 class="card-title product-title">@Model.PName</h5>

                        <!-- Product Description -->
                        <p class="card-text text-muted">@Model.Description</p>

                        <!-- Product Price -->
                        <p class="price">₹ @String.Format("{0:N2}", @Model.Price)</p>

                        <p>Mobile No: @Model.MobileNumber </p>
                        <p>Email: @Model.Email</p>
                    </div>
                </div>
            </div>
</div>

